<template>
    <button :disabled="stock === 0" class="add-to-cart" @click="addToCart()">Add to cart</button>
</template>

<script>
    export default {
        name: "AddQuantityToCartButton",
        props: ['quantity', 'updateCart', 'stock'],
        methods: {
            addToCart() {
                this.$props.updateCart(this.quantity);
            }
        }
    }
</script>

<style scoped>
    .add-to-cart {
        margin-top: 30px;
        padding: 10px 15px;
        color: white;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }

    .add-to-cart::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        background-color: #2D3142;
        z-index: -1;
    }

    .add-to-cart::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background-color: white;
        border-radius: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transform-origin: center;
        z-index: -1;
        transition: .5s;
    }
    .add-to-cart:hover::after {
        opacity: 0.2;
        transform: scale(50);
    }

    .add-to-cart:focus,
    .add-to-cart:focus::after {
        outline: none;
    }

    .add-to-cart:active {
        top: 2px;
    }

    .add-to-cart[disabled] {
        background-color: #424242;
        cursor: not-allowed;
    }
</style>