<template>
    <div class="product-image">
        <img :src="imageSource">
    </div>
</template>

<script>
    export default {
        name: "ImageRenderer",
        props: ['source'],
        computed: {
            imageSource() {
                return require('../../assets/' + this.source)
            }
        }
    }
</script>

<style scoped>
    .product-image {
        width: 500px;
        height: 500px;
        margin: 0 auto;
    }

    .product-image img {
        width: auto;
        height: 100%;
        object-fit: contain;
        margin: 0 auto;
        display: block;
    }

    @media only screen and (max-width: 768px) {
        .product-image {
            justify-content: center;
            margin-right: 0;
        }
    }
</style>