<template>
    <div>
        <button @click="subtract" :disabled="disableSub" >-</button>
        <input type="text"
               :disabled="disableText"
               :value="inputValue">
        <button @click="add"
                :disabled="disableAdd">+</button>
    </div>
</template>

<script>
    export default {
        name: "InputForQuantityOfProducts",
        props: ['stock', 'addNum', 'subtractNum', 'productQuantityBeforeCart'],
        methods: {
            add() {
                this.$props.addNum();
            },
            subtract() {
                this.$props.subtractNum();
            }
        },
        computed: {
            inputValue() {
                return this.stock > 0 ? this.productQuantityBeforeCart : 0
            },
            disableAdd() {
                if (this.productQuantityBeforeCart === this.stock)
                    return true;
                else return this.stock === 0;
            },
            disableSub() {
                if (this.productQuantityBeforeCart === 1)
                    return true;
                else return this.stock === 0;
            },
            disableText() {
                return this.stock === 0;
            }
        },
    }
</script>

<style scoped>
    button {
        margin-top: 30px;
        cursor: pointer;
    }

    input[disabled],
    button[disabled] {
        background-color: #777;
        cursor: not-allowed;
    }

    button,
    input {
        border: none;
        min-width: 40px;
        max-width: 100px;
        height: 40px;
        font-size: 1.5rem;
        font-weight: 800;
        background-color: #333;
        color: white;
        text-align: center;
    }

    button:focus,
    input:focus {
        outline: none;
    }
</style>