<template>
    <div @click="setImageIndex(variant)" :class="variant" class="color"></div>
</template>

<script>
    export default {
        name: "ProductVariantPicker",
        props: ['variant'],
        methods: {
            setImageIndex(index) {
                this.$emit('emitimage', index)
            }
        }
    }
</script>

<style scoped>
    .color {
        display: block;
        width: 30px;
        height: 60px;
        cursor: pointer;
        transform-origin: top center;
        transition: .1s;
    }

    .color:hover {
        transform: scaleY(1.1);
    }

    .green {
        background-color: #26785E;
    }

    .blue {
        background-color: #294794;
    }

    .yellow {
        background-color: yellow;
    }

    .red {
        background-color: red;
    }
</style>