<template>
    <p class="sale">
        <template v-if="sale === true">On sale!</template>
    </p>
</template>

<script>
    export default {
        name: "Sale",
        props: ['sale']
    }
</script>

<style scoped>
    .sale {
        margin-bottom: 30px;
        animation: sale .5s infinite alternate;
    }

    @keyframes sale {
        from {
            color: black;
        }
        to {
            color: red;
        }
    }
</style>