<template>
    <p v-if="stock > 5">In Stock: {{stock}}</p>
    <p v-else-if="stock > 0 && stock <= 5" class="low-stock">In Stock: {{stock}} (ORDER NOW!)</p>
    <p v-else>Out of stock</p>
</template>

<script>
    export default {
        name: "Stock",
        props: ['stock']
    }
</script>

<style scoped>

</style>