<template>
    <h1>{{title}}</h1>
</template>

<script>
    export default {
        name: "Title",
        props: ['title']
    }
</script>

<style scoped>
    h1 {
        text-transform: uppercase;
        font-size: 3rem;
        width: 400px
    }
</style>