<template>
    <div class="cart">Cart [{{cart}}]</div>
</template>

<script>
    export default {
        name: "Cart",
        props: ['cart']
    }
</script>

<style scoped>
    .cart {
        background-color: #ED6A5A;
        padding: 10px;
        color: white;
        text-align: center;
        min-width: 80px;
        line-height: 60px;
    }
</style>