<template>
    <div class="product" v-if="activeProductID === product.id">
        <ImageRenderer :source="product.source"/>
        <Title :title="title"/>
        <Sale :sale="product.onSale"/>
        <Stock :stock="product.stock"/>

        <div class="colors">
            <ProductVariantPicker @emitimage="changeImage($event)"
                                  v-for="product in products"
                                  :key="product.color"
                                  :variant="product.color" />
        </div>

        <InputForQuantityOfProducts :stock="product.stock"
                                    :addNum="updateAddAmount"
                                    :subtractNum="updateSubAmount"
                                    :productQuantityBeforeCart="productQuantityBeforeCart"/>
        <AddQuantityToCartButton :stock="product.stock"
                                 :quantity="productQuantityBeforeCart"
                                 :updateCart="updateCart"/>
    </div>
</template>

<script>
    import AddQuantityToCartButton from "./Product/AddQuantityToCartButton";
    import ImageRenderer from "./Product/ImageRenderer";
    import InputForQuantityOfProducts from "./Product/InputForQuantityOfProducts";
    import ProductVariantPicker from "./Product/ProductVariantPicker";
    import Sale from "./Product/Sale";
    import Stock from "./Product/Stock";
    import Title from "./Product/Title";

    export default {
        name: "Product",
        components: {
            AddQuantityToCartButton,
            ImageRenderer,
            InputForQuantityOfProducts,
            ProductVariantPicker,
            Sale,
            Stock,
            Title
        },
        data(){
            return {
                productQuantityBeforeCart: 1
            }
        },
        props: ['product', 'products', 'activeProductID', 'updateCartQuantity'],
        computed: {
            title() {
                return `${this.product.variant} ${this.product.type}`
            }
        },
        methods: {
            changeImage(event) {
                this.$emit('emitimages', event)
            },
            updateAddAmount() {
                this.productQuantityBeforeCart++
            },
            updateSubAmount() {
                this.productQuantityBeforeCart--
            },
            updateCart(chosenQuantity) {
                this.product.stock -= chosenQuantity;
                this.$props.updateCartQuantity(this.productQuantityBeforeCart);
                this.productQuantityBeforeCart = 1;
            }
        }
    }
</script>

<style scoped>
    .colors {
        display: flex;
        margin-top: 30px;
        flex-direction: row;
    }

    .product {
        margin-right: 30px;
    }
</style>