<template>
    <div id="app">
        <header>
            <img class="logo" src="./assets/logo-w.png" alt="bitCrush Logo" title="bitCrush Logo">
            <Cart :cart="cartContainsThisMuchProducts"/>
        </header>
        <Product v-for="product in products"
                 :key="product.id"
                 :product="product"
                 :products="products"
                 :activeProductID="activeProductID"
                 :updateCartQuantity="updateCartQuantity"
                 @emitimages="changeImages($event)"/>
    </div>
</template>

<script>
    import Product from "./components/Product";
    import Cart from "./components/Cart";

    export default {
        name: 'app',
        components: {
            Product,
            Cart
        },
        methods: {
            changeImages(event) {
                this.products.forEach(product => {
                    if (product.color === event) {
                        this.activeProductID = product.id;
                    }
                });
            },
            updateCartQuantity(input) {
                this.cartContainsThisMuchProducts += input;
            }
        },
        data() {
            return {
                activeProductID: 1,
                cartContainsThisMuchProducts: 0,
                products: [
                    {
                        id: 1,
                        variant: "Green",
                        type: "sock",
                        color: 'green',
                        stock: 12,
                        source: "green-sock.jpg",
                        onSale: true,
                        sizes: [
                            'S',
                            'M',
                            'L',
                            'XL',
                            'XXL'
                        ]
                    },
                    {
                        id: 2,
                        variant: "Blue",
                        type: "sock",
                        color: 'blue',
                        stock: 0,
                        source: "blue-sock.jpg",
                        onSale: false,
                        sizes: [
                            'S',
                            'M',
                            'L',
                            'XL',
                            'XXL'
                        ]
                    },
                    {
                        id: 3,
                        variant: "Red",
                        type: "sock",
                        color: 'red',
                        stock: 27,
                        source: "red-rock.jpg",
                        onSale: false,
                        sizes: [
                            'S',
                            'M',
                            'L',
                            'XL',
                            'XXL'
                        ]
                    },
                    {
                        id: 4,
                        variant: "Yellow",
                        type: "sock",
                        color: 'yellow',
                        stock: 3,
                        source: "yellow-sock.jpg",
                        onSale: false,
                        sizes: [
                            'S',
                            'M',
                            'L',
                            'XL',
                            'XXL'
                        ]
                    }
                ],
            }
        }
    }
</script>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "JetBrains Mono", monospace;
    }

    body {
        padding-bottom: 80px;
    }

    header {
        height: 80px;
        width: 100%;
        background-color: #2D3142;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 80px;
    }

    .logo {
        height: 100%;
        width: auto;
        max-height: 40px;
    }

    .product-wrapper {
        display: flex;
        margin-top: 80px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .product-info-wrapper,
    .product {
        width: 50%;
    }

    @media only screen and (max-width: 768px) {
        .product-wrapper {
            flex-direction: column;
            align-items: center;
        }

        .product-info-wrapper,
        .product {
            width: 100%;
        }

        .product-info-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
</style>
